@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0891EE !important;
    font-family: 'Open Sans', sans-serif;
}
.paramovil{
    display: none;
}
.cruyffmovil{
    display: none;
}


#root {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    color: orange;
    font-weight: 600;
}

.equipos {
    text-align: justify;
}

.table-bordered {
    text-align: justify;
}

.textoequipos {
    text-align: center;
}

.textoequiposmadrid:hover {
    color: black !important;
}

.fotoescudo {
    float: left;
}

#modric {
    border-right: 1px solid;
}

#parejo {
    border-right: 1px solid;
}

#guido {
    border-right: 1px solid;

}

#bellerin {
    border-right: 1px solid;

}

#kounde {
    border-right: 1px solid;
}

#albiol {
    border-right: 1px solid;

}

#aspas {
    border-right: 1px solid;
}

.fondo {
    background: url('./img/cesped.jpg');
    color: white;
    border-radius: 5px;
}

.equipoaño {
    text-align: center;
    padding-top: 5px;
}

.card-body {
    color: black !important;
}
.contacto{
    text-align: center;
}
.textofooter{
    color: #F6BE00;
    font-weight: 700;
}
.sobremifinal{
    font-style: italic;
    text-align: center;
}

#alaves {
    background: url('./img/campoalaves.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    font-weight: 400;
    padding-bottom: 3%;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;

}

#villarreal {
    background: url('./img/campovillarreal.jpg');
    background-size: cover;
    height: 40vh;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    text-align: center;

}

#granada {
    background: url('./img/campogranada.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#real {
    background: url('./img/camporeal.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#madrid {
    background: url('./img/campomadrid.jpg');
    border-radius: 8px;
    background-size: cover;
    width: 125vh;
    height: 40vh;
    color: #F6BE00;
    text-align: center;
}

#elche {
    background: url('./img/campoelche.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#barsa {
    background: url('./img/campobarsa.jpg');
    background-size: cover;
    height: 40vh;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    text-align: center;
}

#mallorca {
    background: url('./img/campomallorca.jpeg');
    background-size: cover;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    height: 55vh;
    text-align: center;
    padding-top: 3%;
}

#osasuna {
    background: url('./img/campoosasuna.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#valencia {
    background: url('./img/campovalencia.jpg');
    background-size: cover;
    height: 55vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    padding-top: 3%;
}

#sevilla {
    background: url('./img/camposevilla.jpg');
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;

}

#atleti {
    background: url('./img/campoatleti.jpg');
    background-size: cover;
    width: 125vh;
    height: 40vh;
    color: #F6BE00;
    text-align: center;
}

#getafe {
    background: url('./img/campogetafe.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#bilbao {
    background: url('./img/campobilbao.jpg');
    background-size: cover;
    height: 55vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    padding-top: 3%;
}

#rayo {
    background: url('./img/camporayo.jpg');
    background-size: cover;
    height: 60vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#betis {
    background: url('./img/campobetis.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

#celta {
    background: url('./img/campocelta.jpg');
    background-size: cover;
    height: 40vh;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    text-align: center;
}

#espanyol {
    background: url('./img/campoespanyol.jpg');
    background-size: cover;
    height: 40vh;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    text-align: center;
}

#cadiz {
    background: url('./img/campocadiz.jpg');
    background-size: cover;
    height: 57vh;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
    text-align: center;
    padding-top: 3%;
}

#levante {
    background: url('./img/campolevante.jpg');
    background-size: cover;
    height: 40vh;
    text-align: center;
    color: #F6BE00;
    width: 125vh;
    border-radius: 8px;
}

.btn-primary:hover {
    background-color: #F6BE00 !important;
}
.crearjugador{
    text-align: center !important;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 50vh;
    margin-left: 54vh;
    border-radius: 1vh;
    width: 20vh;
    border:#0891EE solid 3px;
}
.crearjugador:hover{
    background-color: #F6BE00;
}

/*RESPONSIVE*/
@media only screen and (max-width: 554px) {
    #alaves {
        background: url('./img/campoalaves.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        font-weight: 400;
        padding-bottom: 3%;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;


    }

    #villarreal {
        background: url('./img/campovillarreal.jpg');
        background-size: cover;
        height: 40vh;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        text-align: center;
        display: none;

    }

    #granada {
        background: url('./img/campogranada.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #real {
        background: url('./img/camporeal.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #madrid {
        background: url('./img/campomadrid.jpg');
        border-radius: 8px;
        background-size: cover;
        width: 125vh;
        height: 40vh;
        color: #F6BE00;
        text-align: center;
        display: none;

    }

    #elche {
        background: url('./img/campoelche.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #barsa {
        background: url('./img/campobarsa.jpg');
        background-size: cover;
        height: 40vh;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        text-align: center;
        display: none;

    }

    #mallorca {
        background: url('./img/campomallorca.jpeg');
        background-size: cover;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        height: 55vh;
        text-align: center;
        padding-top: 3%;
        display: none;

    }

    #osasuna {
        background: url('./img/campoosasuna.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #valencia {
        background: url('./img/campovalencia.jpg');
        background-size: cover;
        height: 55vh;
        text-align: center;
        color: #F6BE00;
        width: 55vh;
        border-radius: 8px;
        padding-top: 3%;
        display: none;

    }

    #sevilla {
        background: url('./img/camposevilla.jpg');
        background-size: cover;
        height: 50vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;


    }

    #atleti {
        background: url('./img/campoatleti.jpg');
        background-size: cover;
        width: 125vh;
        height: 40vh;
        color: #F6BE00;
        text-align: center;
        display: none;

    }

    #getafe {
        background: url('./img/campogetafe.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #bilbao {
        background: url('./img/campobilbao.jpg');
        background-size: cover;
        height: 55vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        padding-top: 3%;
        display: none;

    }

    #rayo {
        background: url('./img/camporayo.jpg');
        background-size: cover;
        height: 60vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #betis {
        background: url('./img/campobetis.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }

    #celta {
        background: url('./img/campocelta.jpg');
        background-size: cover;
        height: 40vh;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        text-align: center;
        display: none;

    }

    #espanyol {
        background: url('./img/campoespanyol.jpg');
        background-size: cover;
        height: 40vh;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        text-align: center;
        display: none;

    }

    #cadiz {
        background: url('./img/campocadiz.jpg');
        background-size: cover;
        height: 57vh;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        text-align: center;
        padding-top: 3%;
        display: none;

    }

    #levante {
        background: url('./img/campolevante.jpg');
        background-size: cover;
        height: 40vh;
        text-align: center;
        color: #F6BE00;
        width: 125vh;
        border-radius: 8px;
        display: none;

    }
    .contenedorprincipal{
        padding-left: 5vh !important;
        padding-right: 5vh !important;
        max-width: 100vh !important;
    }
    main {
        padding: 0 !important;
        width: 35vh !important;
    }
    .paramovil{
        width: 10vh !important;
        display: contents;
    }
    footer{
        padding-top: 3vh !important;
    }
    .titulouno{
        font-size: 45px !important;
        text-align: center !important;
        
    }
    .fotobalon{
        display: none;
    }
    .cruyffmovil{
        display: contents;
    }
    .equiposmenu{
        display: block;
    }
    .crearjugador{
        display: none;
    }
    .escudo{
        width: 90%;
    }
}
